<!-- Nombre del archivo: crud.html -->
<!-- Función del archivo: Estructura HTML del crud de la base de datos del log in -->
<!-- Autor: Santiago De la mora Núñez -->
<!-- Fecha de creación del archivo: 26/7/2024 -->

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Acciones CRUD en la base de datos</title>
    </head>
    <body class="body">
        <h1 class="main-title">Administración de la base de datos (acciones CRUD)</h1><br><br>
        <div class="accounts-record-table-container">
            <h2 class="table-title">Registro de cuentas</h2>
            <table id="accounts-records-table" class="accounts-record-table" border="1">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th">ID</th>
                        <th class="th">Nombre de usuario</th>
                        <th class="th">Correo electrónico</th>
                        <th class="th">Contraseña</th>
                        <th class="th">Creada el</th>
                        <th class="th">Acciones</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <!-- Aquí se mostrarán los registros de la base de datos -->
                </tbody>
                <tfoot class="tfoot">
                    <tr class="tr">
                        <td class="td" colspan="6"><button class="btn-add-record" onclick="addRecord('sign up')">Crear nuevo registro</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <br>
        <div class="login-records-table-container">
            <h2 class="table-title">Registro de inicios de sesión</h2>
            <table id="login-records-table" class="table" border="1">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th">ID</th>
                        <th class="th">Correo electrónico</th>
                        <th class="th">Contraseña</th>
                        <th class="th">Accedió el</th>
                        <th class="th">Acciones</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <!-- Aquí se mostrarán los registros de la base de datos -->
                </tbody>
                <tfoot class="tfoot">
                    <tr class="tr">
                        <td class="td" colspan="5"><button class="btn-add-record" onclick="addRecord('sign in')">Crear nuevo registro</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </body>

    <!-- Conexión con el archivo de JavaScript del lado del cliente que maneja la lógica de recepción de datos de la base de datos desde el servidor -->
    <script src="../js/script-client-crud.js"></script>
</html>