<!-- Nombre del archivo: crud.html -->
<!-- Función del archivo: Estructura HTML del crud de la base de datos del log in -->
<!-- Autor: Santiago De la mora Núñez -->
<!-- Fecha de creación del archivo: 26/7/2024 -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Acciones CRUD de la base de datos</title>
    </head>
    <body class="body">
        <h1 class="titulo-principal">Administración de la base de datos (acciones CRUD)</h1><br><br>
        <div class="contenedor-tabla-registros-cuentas">
            <h2 class="titulo-tabla">Registro de cuentas</h2>
            <table id="tabla-registros-cuentas" class="table" border="1">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th">ID</th>
                        <td class="td">Nombre de usuario</td>
                        <td class="td">Correo electrónico</td>
                        <td class="td">Contraseña</td>
                        <td class="td">Creada el</td>
                        <td class="td">Acciones</td>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <!-- Aquí se mostrarán los registros de la base de datos -->
                </tbody>
            </table>
        </div>
        <div class="contenedor-tabla-registros-inises">
            <h2 class="titulo-tabla">Registro de inicios de sesión</h2>
            <table id="tabla-registros-inises" class="table" border="1">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th">ID</th>
                        <td class="td">Correo electrónico</td>
                        <td class="td">Contraseña</td>
                        <td class="td">Accedió el</td>
                        <td class="td">Acciones</td>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <!-- Aquí se mostrarán los registros de la base de datos -->
                </tbody>
            </table>
        </div>
    </body>

    <!-- Conexión con el archivo de JavaScript del lado del cliente que maneja la lógica de recepción de datos de la base de datos desde el servidor -->
     <script src="script-client-crud.js"></script>
</html>