/*
    Función del archivo: Estilos del inicio de sesión
    Nombre del archivo: style-1.css
    Autor: Santiago Nicolás De la mora Núñez
    Fecha de creación del archivo: 3/7/2024
*/

/* Variables CSS */
:root {
    --font-for-input-label: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Resetea los márgenes internos y externos */
* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.btn-play-audio {
    position: absolute;
    top: 10vh;
    right: 10vw;
    background-color: rgb(77, 77, 77);
    border-radius: 50%;
    padding: 12px 15px;
    cursor: pointer;
    color: white;
    z-index: 1;
    font-size: 20px;
}

.__paused__ {
    box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.35);
    transform: scale(0.95);
}

.container {
    width: 60%;
    height: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(255, 0, 0);
    box-shadow: 0 0 30vw 16vw rgb(255, 0, 0);
}

.__shown-container__ {
    display: flex;

    /* animation: <animation-name> <animation-duration> <animation-timing-function> <animation-iteration-count> <animation-fill-mode>; */
    animation: compress-and-appear 2s ease 1 forwards, solid-dashed-line-intermittent-change 500ms linear infinite;
}

@keyframes compress-and-appear
{
    0% {
        transform: scale(3);
        opacity: 0.1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes solid-dashed-line-intermittent-change
{
    to {
        border: 3px solid black;
    }
    
    from {
        border: 3px dashed black;
    }
}

.__hidden-container__ {
    display: none;
}

.main-subcontainer {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mnsbc-sign-up {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.mnsbc-sign-in {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.change-form-container {
    height: 100%;
    width: 25%;
    background-color: rgb(77, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.chgfrmcnt-sign-up {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right: 3px dashed black;
}

.chgfrmcnt-sign-in {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 3px dashed black;
}

.chgfrmcnt-text {
    text-align: center;
    margin: 0 10px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.chgfrmcnt-subtitle {
    margin-top: 10px;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-bottom: 15px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.label {
    margin: 10px 0;
    padding-left: 20px;
    border-radius: 25px;
    background-color: rgb(235, 235, 235);
    position: relative;
    box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.4);
}

.username-input, .email-input, .password-input {
    padding: 12px 25px;
    border-radius: 25px;
    margin-left: 9px;
    border: none;
    width: 280px;
    font-family: var(--font-for-input-label);
    font-size: 16px;
}

.username-input:focus, .email-input:focus, .password-input:focus {
    outline: none;
}

.username-input:invalid, .email-input:invalid, .password-input:invalid {
    color: red;
}

.username-input:valid, .email-input:valid, .password-input:valid {
    color: green;
}

.btn-submit {
    border: none;
    outline: none;
    padding: 11px 40px;
    margin: 15px 0;
    border-radius: 25px;
    font-size: 17px;
    font-family: var(--font-for-input-label);
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.3);
}

.btn-submit:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px 10px rgb(235, 235, 235);
}

.btn-change-form {
    border: none;
    outline: none;
    padding: 7px 15px;
    border-radius: 18px;
    margin-top: 20px;
    font-family: var(--font-for-input-label);
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.3);
}

.btn-change-form:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px 10px rgb(235, 235, 235);
}

.btn-show-password {
    position: absolute;
    right: 19px;
    top: 14px;
    z-index: 1;
    cursor: pointer;
    font-size: 18px;
}

.__label-valid__ {
    background-color: rgb(90, 218, 90);
}

.__label-invalid__ {
    background-color: rgb(255, 91, 91);
}

.password-security {
    background-color: rgb(77, 77, 77);
    border-radius: 15px;
    padding: 18px 35px;
    margin-top: 10px;
}

.li {
    font-size: 15px;
    color: rgb(0, 183, 0);
    font-weight: bold;
    margin-bottom: 5px;
}

.li:last-child {
    margin-bottom: 0;
}

/* ---------------------Ajuste responsivo (media queries)--------------------- */
@media (max-width: 1400px)
{
    .container {
        width: 65%;
    }
}

@media (max-width: 1300px)
{
    .container {
        width: 70%;
    }
}

@media (max-width: 1200px)
{
    .container {
        width: 75%;
    }
}

@media (max-width: 1100px)
{
    .container {
        width: 80%;
    }
}

@media (max-width: 1050px)
{
    .container {
        width: 85%;
    }
}

@media (max-width: 1000px)
{
    .change-form-container {
        width: 30%;
    }

    .chgfrmcnt-text {
        margin: 0 15px;
    }

    .main-subcontainer {
        width: 70%;
    }
}

@media (max-width: 900px)
{
    .main-title {
        font-size: 35px;
    }

    .username-input, .email-input, .password-input {
        padding: 11px 20px;
    }

    .btn-submit {
        padding: 9px 30px;
        font-size: 16px;
    }
}

@media (max-width: 800px)
{
    .chgfrmcnt-title {
        font-size: 21px;
    }

    .chgfrmcnt-subtitle {
        font-size: 15px;
    }

    .label {
        padding-left: 18px;
    }

    .username-input, .email-input, .password-input {
        padding: 10px 18px;
        margin-left: 5px;
    }

    .fa-solid.fa-user, .fa-solid.fa-evelope, .fa-solid.fa-lock {
        font-size: 15px;
    }

    .btn-submit {
        padding: 9px 28px;
        font-size: 14px;
    }
}

@media (max-width: 790px)
{
    .container {
        flex-direction: column;
        width: 70%;
    }

    .sign-up-container {
        height: fit-content;
    }

    .change-form-container {
        width: 100%;
        height: 30%;
    }
    
    .chgfrmcnt-sign-up {
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        border-right: none;
        padding: 25px 0;
    }
    
    .chgfrmcnt-sign-in {
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
        border-left: none;
    }

    .main-subcontainer {
        width: 100%;
        height: 70%;
    }

    .mnsbc-sign-up {
        height: fit-content;
        padding: 37px 0 40px;
    }

    .mnsbc-sign-in {
        height: 60%;
    }

    .chgfrmcnt-sign-in {
        height: 40%;        
    }

    .chgfrmcnt-sign-in .chgfrmcnt-title {
        font-size: 25px;
        margin-bottom: 16px;
    }

    .chgfrmcnt-sign-in .chgfrmcnt-subtitle {
        font-size: 18px;
    }

    .chgfrmcnt-sign-in .btn-change-form {
        font-size: 15px;
        padding: 10px 33px;
        border-radius: 20px;
    }

    .li {
        font-size: 13px;
    }
}

@media (max-width: 750px)
{
    .main-title {
        font-size: 30px;
    }

    .label {
        padding-left: 18px;
    }

    .username-input, .email-input, .password-input {
        padding: 9px 19px;
        margin-left: 5px;
        width: 250px;
    }

    .fa-solid.fa-user, .fa-solid.fa-envelope, .fa-solid.fa-lock, .fa-solid.fa-eye, .fa-solid.fa-eye-slash {
        font-size: 15px;
    }

    .fa-solid.fa-eye, .fa-solid.fa-eye-slash {
        top: 13px;
    }

    .btn-submit {
        padding: 7px 21px;
        font-size: 14px;
    }
}

@media (max-width: 650px)
{
    .container {
        box-shadow: 0 0 35vw 23vw rgb(255, 0, 0);
    }

    .main-title {
        font-size: 30px;
    }

    .label {
        padding-left: 18px;
    }

    .username-input, .email-input, .password-input {
        padding: 9px 19px;
        margin-left: 5px;
        width: 38vw;
        font-size: 15px;
    }

    .fa-solid.fa-user, .fa-solid.fa-envelope, .fa-solid.fa-lock, .fa-solid.fa-eye, .fa-solid.fa-eye-slash {
        font-size: 13px;
    }

    .fa-solid.fa-eye, .fa-solid.fa-eye-slash {
        top: 13px;
    }

    .btn-submit {
        padding: 7px 21px;
        font-size: 14px;
    }
}

@media (max-width: 550px)
{
    .password-input {
        padding-right: 9vw;
        width: 34vw;
    }

    .fa-solid.fa-eye, .fa-solid.fa-eye-slash  {
        right: 18px;
    }

    .chgfrmcnt-sign-in .chgfrmcnt-title {
        font-size: 22px;
    }

    .chgfrmcnt-sign-in .chgfrmcnt-subtitle {
        font-size: 17px;
    }

    .chgfrmcnt-sign-in .btn-change-form {
        padding: 8px 30px;
    }

    .li {
        font-size: 13px;
    }
}

@media (max-width: 500px)
{
    .chgfrmcnt-title {
        font-size: 4vw;
    }

    .chgfrmcnt-subtitle {
        font-size: 3vw;
    }

    .chgfrmcnt-sign-in .btn-change-form, .chgfrmcnt-sign-up .btn-change-form {
        padding: 1vw 2.8vw;
        font-size: 2.8vw;
    }

    .main-title {
        font-size: 6vw;
    }

    .username-input, .email-input, .password-input {
        padding: 1.5vw 19px;
        font-size: 13px;
    }

    .password-input {
        padding-right: 8vw;
    }

    .btn-submit {
        padding: 1vw 2.8vw;
        font-size: 2.8vw;
    }

    .fa-solid.fa-user, .fa-solid.fa-envelope, .fa-solid.fa-lock, .fa-solid.fa-eye, .fa-solid.fa-eye-slash {
        font-size: 2.9vw;
    }

    .fa-solid.fa-eye, .fa-solid.fa-eye-slash {
        top: 2.4vw;
        right: 3.2vw;
    }

    .password-security {
        padding: 3vw 6.5vw;
    }

    .li {
        font-size: 2.3vw;
    }

    .sign-in-container {
        height: fit-content;
    }

    .chgfrmcnt-sign-in {
        padding: 30px 0;
    }

    .chgfrmcnt-sign-in .chgfrmcnt-title {
        font-size: 4vw;
    }

    .chgfrmcnt-sign-in .chgfrmcnt-subtitle {
        font-size: 3vw;
    }

    .mnsbc-sign-in {
        padding: 35px 0;
    }
}

@media (max-width: 400px)
{
    .container {
        width: 75%;
    }

    .mnsbc-sign-in {
        padding: 6vw 0;
    }

    .chgfrmcnt-sign-up {
        padding: 4.2vw 0;
    }

    .chgfrmcnt-sign-in {
        padding: 4.2vw 0;
    }

    .label {
        padding-left: 16px;
    }

    .fa-solid.fa-user, .fa-solid.fa-envelope, .fa-solid.fa-lock, .fa-solid.fa-eye, .fa-solid.fa-eye-slash {
        font-size: 3.2vw;
    }

    .fa-solid.fa-eye, .fa-solid.fa-eye-slash {
        top: 2.8vw;
        right: 3.2vw;
    }
}

@media (max-width: 350px)
{
    .container {
        width: 80%;
    }

    .mnsbc-sign-up {
        padding: 25px 0 24px;
    }
}